<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clientes">
    <select id="buscarClientesActivos" resultType="modelo.pojo.Cliente">
        SELECT c.*,  COALESCE(m.nombre, 'Sin asignar') AS municipio
        FROM clientes c
        LEFT JOIN direcciones d ON c.idCliente = d.idCliente
        LEFT JOIN municipios m ON d.idMunicipio = m.idMunicipio
        WHERE activo = 1
    </select>
    <select id="buscarClientesInactivos" resultType="modelo.pojo.Cliente">
        SELECT c.*,  COALESCE(m.nombre, 'Sin asignar') AS municipio
        FROM clientes c
        LEFT JOIN direcciones d ON c.idCliente = d.idCliente
        LEFT JOIN municipios m ON d.idMunicipio = m.idMunicipio
        WHERE activo = 0
    </select>
    <select id="buscarClientePorId" resultType="modelo.pojo.Cliente" parameterType="int">
        SELECT *
        FROM clientes 
        WHERE idCliente = #{idCliente}
    </select>
    <select id="buscarCliente" parameterType="String" resultType="modelo.pojo.Cliente">
        SELECT c.idCliente, 
        c.nombre, 
        c.apellidoPaterno, 
        c.apellidoMaterno, 
        c.telefono, 
        c.correoElectronico
        FROM clientes c
        WHERE c.nombre = #{parametro}
        OR c.telefono = #{parametro}
        OR c.correoElectronico = #{parametro}
    </select>
    <insert id="registrarCliente" parameterType="modelo.pojo.Cliente">
        INSERT INTO clientes (nombre, apellidoPaterno, apellidoMaterno, telefono, correoElectronico)
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{telefono}, #{correoElectronico})
    </insert>
    <update id="editarCliente" parameterType="modelo.pojo.Cliente">
        UPDATE clientes
        SET nombre = #{nombre},
        apellidoPaterno = #{apellidoPaterno},
        apellidoMaterno = #{apellidoMaterno},
        telefono = #{telefono},
        correoElectronico = #{correoElectronico}
        WHERE idCliente = #{idCliente}
    </update>
    <delete id="eliminarCliente" parameterType="int">
        CALL EliminarCliente(#{idCliente})
    </delete>
    <update id="desactivarCliente" parameterType="int">
        UPDATE clientes
        SET activo = 0
        WHERE idCliente = #{idCliente}
    </update>
</mapper>
