<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaboradores">
    <insert id="registrarColaborador" parameterType="modelo.pojo.Colaborador">
        INSERT INTO colaboradores (
        nombre,
        apellidoPaterno,
        apellidoMaterno,
        CURP,
        correoElectronico,
        numeroPersonal,
        password,
        idRol, 
        numeroLicencia
        )
        VALUES (
        #{nombre},
        #{apellidoPaterno},
        #{apellidoMaterno},
        #{CURP},
        #{correoElectronico},
        #{numeroPersonal},
        #{password},
        #{idRol},
        #{numeroLicencia}
        )
    </insert>
    <update id="editarColaborador" parameterType="modelo.pojo.Colaborador">
        UPDATE colaboradores
        SET
        nombre = #{nombre},
        apellidoPaterno = #{apellidoPaterno},
        apellidoMaterno = #{apellidoMaterno},
        CURP = #{CURP},
        correoElectronico = #{correoElectronico},
        password = #{password},
        numeroLicencia = #{numeroLicencia}
        WHERE idColaborador = #{idColaborador}
    </update>
    
    <delete id="borrarColaborador" parameterType="int">
        CALL EliminarColaborador (#{idColaborador})
    </delete>
    
    <update id="desactivarColaborador" parameterType="int">
        CALL desactivar_colaborador(#{idColaborador})
    </update>
    
    <select id="buscarColaboradores" parameterType="String" resultType="modelo.pojo.Colaborador">
        SELECT
        c.idColaborador,
        c.nombre,
        c.apellidoPaterno,
        c.apellidoMaterno,
        c.CURP,
        c.correoElectronico,
        c.numeroPersonal,
        c.password,
        c.idRol,
        c.activo,
        c.numeroLicencia,
        r.nombre AS rol 
        FROM colaboradores c
        INNER JOIN roles r ON c.idRol = r.idRol
        WHERE 
        (
        c.CURP LIKE CONCAT('%', #{parametro}, '%') OR
        c.numeroPersonal LIKE CONCAT('%', #{parametro}, '%') OR
        c.correoElectronico LIKE CONCAT('%', #{parametro}, '%')
        )
    </select>

    <select id="buscarColaboradoresExactos" parameterType="String" resultType="modelo.pojo.Colaborador">
        SELECT
        c.idColaborador,
        c.nombre,
        c.apellidoPaterno,
        c.apellidoMaterno,
        c.CURP,
        c.correoElectronico,
        c.numeroPersonal,
        c.password,
        c.idRol,
        c.activo,
        c.numeroLicencia,
        r.nombre AS rol
        FROM colaboradores c
        INNER JOIN roles r ON c.idRol = r.idRol
        WHERE c.numeroPersonal = #{parametro}
        OR c.correoElectronico = #{parametro}
        OR c.CURP = #{parametro}
    </select>
    <update id="guardarFoto" parameterType="map">
        UPDATE colaboradores
        SET fotografia = #{fotografia}
        WHERE idColaborador = #{idColaborador}
    </update>
    <update id="guardarFotoPorNumeroPersonal" parameterType="map">
        UPDATE colaboradores
        SET fotografia = #{fotografia}
        WHERE numeroPersonal = #{numeroPersonal}
    </update>
    <select id="obtenerFoto" parameterType="int" resultType="modelo.pojo.Colaborador">
        SELECT idColaborador, TO_BASE64(fotografia) as fotoBase64
        FROM colaboradores WHERE idColaborador = #{idColaborador}
    </select>
    <select id="obtenerColaboradorPorId" parameterType="int" resultType="modelo.pojo.Colaborador">
        SELECT * 
        FROM colaboradores 
        WHERE idColaborador = #{idColaborador}
    </select>
    <select id="obtenerTodosActivos"  resultType="modelo.pojo.Colaborador">
        SELECT 
        c.*,
        r.nombre AS rol
        FROM colaboradores c
        INNER JOIN roles r ON c.idRol = r.idRol
        WHERE activo = 1
    </select>
    <select id="obtenerTodosInactivos"  resultType="modelo.pojo.Colaborador">
        SELECT 
        c.*,
        r.nombre AS rol
        FROM colaboradores c
        INNER JOIN roles r ON c.idRol = r.idRol
        WHERE activo = 0
    </select>
    <select id="obtenerConductores"  parameterType="int" resultType="modelo.pojo.Colaborador">
        SELECT 
        c.*,
        r.nombre AS rol
        FROM colaboradores c
        INNER JOIN roles r ON c.idRol = r.idRol
        WHERE c.idRol = #{idRol}
    </select>
</mapper>
