<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaboradores">
    <insert id="registrarColaborador" parameterType="modelo.pojo.Colaborador">
        INSERT INTO colaboradores (
        nombre,
        apellidoPaterno,
        apellidoMaterno,
        CURP,
        correoElectronico,
        numeroPersonal,
        password,
        idRol
        )
        VALUES (
        #{nombre},
        #{apellidoPaterno},
        #{apellidoMaterno},
        #{CURP},
        #{correoElectronico},
        #{numeroPersonal},
        #{password},
        #{idRol}
        )
    </insert>
    <update id="editarColaborador" parameterType="modelo.pojo.Colaborador">
        UPDATE colaboradores
        SET
        nombre = #{nombre},
        apellidoPaterno = #{apellidoPaterno},
        apellidoMaterno = #{apellidoMaterno},
        CURP = #{CURP},
        correoElectronico = #{correoElectronico},
        password = #{password}
        WHERE idColaborador = #{idColaborador}
    </update>
    <delete id="eliminarColaborador" parameterType="int">
        DELETE FROM colaboradores
        WHERE idColaborador = #{idColaborador}
    </delete>
    <select id="buscarColaboradores" parameterType="String" resultType="modelo.pojo.Colaborador">
        SELECT
        c.idColaborador,
        c.nombre,
        c.apellidoPaterno,
        c.apellidoMaterno,
        c.CURP,
        c.correoElectronico,
        c.numeroPersonal,
        c.password,
        c.idRol,
        r.nombre AS rol 
        FROM colaboradores c
        INNER JOIN roles r ON c.idRol = r.idRol
        WHERE 
        (
        c.CURP LIKE CONCAT('%', #{parametro}, '%') OR
        c.numeroPersonal LIKE CONCAT('%', #{parametro}, '%') OR
        c.correoElectronico LIKE CONCAT('%', #{parametro}, '%')
        )
    </select>

    <select id="buscarColaboradoresExactos" parameterType="String" resultType="modelo.pojo.Colaborador">
        SELECT
        c.idColaborador,
        c.nombre,
        c.apellidoPaterno,
        c.apellidoMaterno,
        c.CURP,
        c.correoElectronico,
        c.numeroPersonal,
        c.password,
        c.idRol,
        r.nombre AS rol
        FROM colaboradores c
        INNER JOIN roles r ON c.idRol = r.idRol
        WHERE c.numeroPersonal = #{parametro}
        OR c.correoElectronico = #{parametro}
        OR c.CURP = #{parametro}
    </select>
    <update id="guardarFoto" parameterType="map">
        UPDATE colaboradores
        SET fotografia = #{fotografia}
        WHERE idColaborador = #{idColaborador}
    </update>
    
    <select id="obtenerFoto" parameterType="int" resultType="modelo.pojo.Colaborador">
        SELECT idColaborador, nombre, apellidoPaterno, apellidoMaterno, TO_BASE64(fotografia) as fotoBase64
        FROM colaboradores WHERE idColaborador = #{idColaborador}
    </select>
</mapper>
