<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/TimeFastDB?serverTimezone=UTC"/>
                <property name="username" value="Eduard"/>
                <property name="password" value="FlowLetal"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mappers/AutenticacionesMapper.xml"/>
        <mapper resource="mybatis/mappers/ColaboradoresMapper.xml"/>
        <mapper resource="mybatis/mappers/UnidadesMapper.xml"/>
        <mapper resource="mybatis/mappers/ClientesMapper.xml"/>
        <mapper resource="mybatis/mappers/DireccionesMapper.xml"/>
        <mapper resource="mybatis/mappers/AsignacionesMapper.xml"/>
        <mapper resource="mybatis/mappers/EnviosMapper.xml"/>
        <mapper resource="mybatis/mappers/PaqueteMapper.xml"/>
        <mapper resource="mybatis/mappers/EstadosMapper.xml"/>
        <mapper resource="mybatis/mappers/RolMapper.xml"/>
    </mappers>
</configuration>